.main-menu-list {
    display: flex;
    box-sizing: border-box;
}

.icon-container {
    background-color: #F5F4FA;
    height: 120px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.main-menu-item {
    @include font (14px, 700, 16px);
    margin-top: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--h2-h3-color);
}

.main-menu-sub-item {
    @include font (14px, 400, 24px);
    margin-top: 10px;
    letter-spacing: 0.03em;
    color: var(--p-a-color);
}