.header-logo {
    @include font (26px, 700, 36px);
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-logotype-span {
    @include font (26px, 700, 36px);
    letter-spacing: 0.03em;
    color: black;
}